:root {
  --column-width: 480px;
  --gutter-width: 20px;
}

.app {
  margin: auto;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-align: center;
}

.section {
  display: inline-block;
  max-width: var(--column-width);
  margin: var(--gutter-width);
  text-align: left;
  vertical-align: top;
}

.player-wrapper {
  width: 480px;
  aspect-ratio: 16 / 9;
  background: rgba(0, 0, 0, .1);
  margin-bottom: 10px;
}

.react-player {}

.faded {
  color: rgba(0, 0, 0,.6);
}

.footer {
  margin: var(--gutter-width);
}
